{% extends "bootstrap/base.html" %}

{% block title %}

医疗推理

{% endblock %}

{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="/">医疗推理</a>
             </div>
             {#
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                     <li><a href="/">Home</a></li>
                 </ul>
             </div>
             #}
         </div>
</div>
{% endblock %}

{% block content %}
<div class="'container">
    <div class="page-header">
    <h1>
    {% if info['csyn'][0][0] %}
        {{ info['csyn'][0][0] }}
    {% endif %}

    </h1>

    </div>

</div>
<div class="row">
    <div class="panel-group">
        {% for k,v in info.items() %}
        {% if k is not string and v %}
        <div class="col-sm-4">
            <div class="panel panel-defaut">
                <div class="panel-heading">
                    <h3>
                    {{ k[0] }}
                    </h3>
                </div>
                <div class="panel-body">
                <ul class="list-group">
                    {% if k[0] == "发病部位" or k[0] == "相关症状" or k[0] == "相关检查" or
                    k[0] == "鉴别诊断逆" or k[0] == "相关症状逆" or k[0] == "相关检查逆" or k[0] == "鉴别诊断"
                    or k[0] == "检查结果" or k[0] == "检查结果逆" or k[0] == "相关疾病"%}
                    {% for line in v %}
                    {% if line %}
                    <li class="list-group-item">
                        {% for i in line %}
                        <a href="/search/{{ i }}"> {{ i }}&nbsp </a>
                        {% endfor %}
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {% for line in v %}
                    {% if line %}
                    <li class="list-group-item">
                        {% for i in line %}
                        {{ i }}&nbsp
                        {% endfor %}
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>


</div>


{% endblock %}
